<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.username">ZanderRak</property>
    <property name="hibernate.connection.password">android95P</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/LabWebDB</property>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <mapping class="com.web.domain.Account"/>
      <mapping class="com.web.domain.Address"/>
      <mapping class="com.web.domain.User"/>
      <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>